@mixin card-size {
  width: 200px;
  height: 408px;
  box-sizing: border-box;
}

@mixin img-size {
  display: block;
  height: 100%;
  width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

@mixin star-size {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin buy-button {
  height: 40px;
  border-radius: 5px;
}

