.stars {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;

  &__star {
    @include star-size;

    background-image: url(../images/star.svg);
    margin-right: 4px;
    &:first-child {
      margin-right: 0;
    }
  }

  &__star:hover,
  &__star:hover ~ &__star {
    background-image: url(../images/star-active.svg);
  }
}
